<section id="login">
	<header class="logo"></header>
	<form ng-submit="login()">
		<h1 class="dual-word">file<span>Control</span></h1>
		<fieldset>
			<input type="text" name="user" ng-model="username" placeholder="username">
			<input type="password" name="password" ng-model="password" placeholder="password">
		</fieldset>
		<fieldset>
			<div>
				<button><i class="icon-refresh"></i></button>
			</div>
			<div>
				<input type="submit" value="Login">
			</div>
		</fieldset>
	</form>
</section>